<!-- Mani -->
<style>

#blah {
             border:1px dotted blue;
              <!---width: 404px;-->
           <!--   height:371px;-->
}
.upload-btn-wrapper {
position: relative;
overflow: hidden;
display: inline-block;
}

.upload-btn-wrapper input[type=file] {
font-size: 100px;
position: absolute;
left: 0;
top: 0;
opacity: 0;
}
.container{
    width: 70%!important;
    }
.close {
     margin-left: 79%;
}

.close:hover,
.close:focus {

  cursor: pointer;
}

</style>
	<script>

function readURL(input) {

        if (input.files && input.files[0]) {

            var reader = new FileReader();

            reader.onload = function (e) {

                $('#blah').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);

        }

    }   

    $("#fileupload").change(function(){

        readURL(this);

    });




$(document).ready(function(){
$.ajax({ 
		url: "/bin/schoolInformation.json",
        success: function(data){
        	var htmlContent = "";
			jQuery.each( data, function( i, val ) {
				htmlContent +=" <option value='"+val.school_id+"' >"+val.school_name+"</option>";
            });
			
			 var finalHtmlContent = "<option class='text-faded'> - Select LOB / School - </option>"+ htmlContent;
			
        	$('#school_id').html(finalHtmlContent );

        }});
});
$(function() {
    $("#school_id").change(function() {
        
		var schoolId= $('option:selected', this).val();

		$.ajax({ 
		url: "/bin/getSubschoolbyId.json?school_id="+schoolId,
        success: function(data){
        	var htmlContent = "";
			jQuery.each( data, function( i, val ) {
				htmlContent +=" <option value='"+val.sub_school_id+"' >"+val.sub_school_name+"</option>";
            });

			 var finalHtmlContent = "<option class='text-faded'> - Select LOB / School - </option>"+ htmlContent;
			
        	$('#sub_school_id').html(finalHtmlContent );

        }});
	});
/*
	$("#submitForm").click(function(){
		var schoolId  = $("#school").val();
		var subSchoolId  = $("#subschool").val();
		var acg_id = "10769";




		var finalUrl = "/bin/submitRequest?acg_id="+acg_id+"&school_id="+schoolId+"&sub_school_id="+subSchoolId+"";
		
		$.ajax({ 
			url: finalUrl,
			success: function(data){
				alert("Updated to server");

			}
		});
 
	});*/

  });  

</script>


<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.js@categories='granite.csrf.standalone'}"/>
<div class="container-fluid no-padding cap-content container">

    <div class="row bg-light-blue">

        <div class="col-sm-12 display-inline-flex pt-2">

<!-- Replace the Following with AEM Component (Delete, but Copy the Classes into the <div> of the AEM COmponent) -->
                <div class="img-fluid icon padding-left-24">
                    <img src="/apps/Acgdemo/clientlibs/clientlib-own/resources/flags/my-profile-icon.png" />
                </div>

<!-- Replace the Following with AEM Component (Delete, but Copy the Classes into the <div> of the AEM COmponent) -->

			<div class="center-text mission-gothic-regular" data-sly-resource="${'text1' @ resourceType='/apps/Acgdemo/components/content/text'}"></div>
             <div id="close" class = "close"> <img src="/content/dam/Acgdemo/Home2/cancelicon.png" /></div>			
        </div>

    </div>

    <div class="row">

        <div class="col-xs-12 col-offset-xs-2 col-sm-4 bg-aaa-blue">

<!-- Replace the Following with AEM Component (Delete, but Copy the Classes into the <div> of the AEM COmponent) -->
           <form method="post" action="/bin/submitRequest" enctype="multipart/form-data">	
            <div class="bg-aaa-blue mt-4 pl-4 img-fluid profile-image pb-4">
			 <!--<input type='file' id="imgInp" onchange="readURL(this);"/>-->
                <img id="blah" src="/apps/Acgdemo/clientlibs/clientlib-own/resources/flags/profile-image.png" alt="your image" />

               
            </div>


<!-- Replace the Following with AEM Component (Delete, but Copy the Classes into the <div> of the AEM COmponent) -->

            <div class="mt-4 pl-4 pb-4 upload-button">
				<div class="upload-btn-wrapper">
                <button class="btn btn-continue" >Upload</button>
				<input type='file' name="fileupload" value="fileupload" id="fileupload" onchange="readURL(this);"/>
                <input type="hidden" name="acg_id" value="10769">
				</div>
            </div>

        </div>

        <div class="col-xs-12 col-sm-8 bg-aaa-blue pt-4">

            <div class="row">

                <div class="col-xs-0 col-sm-3">

<!-- Might need to keep this for the Bootstrap alignment to work, but I'm not sure. -->
<!-- Might just need to use an empty text component -->
<!-- Replace the Following with AEM Component (Delete, but Copy the Classes into the <div> of the AEM COmponent) -->
                    <div class="align-right">
                        <p></p>
                    </div>

                </div>

                <div class="col-xs-1 col-sm-3 mobile-field-width">

<!-- Replace the Following with AEM Component (Delete, but Copy the Classes into the <div> of the AEM COmponent) -->
                    
				<div class="align-right mission-gothic-regular" data-sly-resource="${'text2' @ resourceType='/apps/Acgdemo/components/content/text'}"></div>
    
                </div>

                <div class="col-xs-6 col-sm-6 pr-4 mobile-value-width">

<!-- Replace the Following with AEM Component (Delete, but Copy the Classes into the <div> of the AEM COmponent) -->
                    <div class="orange-text">
                        <p>* Peter Miller</p>
                    </div>
    
                </div>

            </div>

            <div class="row">
                <div class="col-sm-3 align-right-category">

<!-- Replace the Following with AEM Component (Delete, but Copy the Classes into the <div> of the AEM COmponent) -->
                    <div class="orange-text align-right">
                        <p>Assigned</p>
                    </div>
    
                </div>
    
                <div class="col-sm-3 mobile-field-width">

<!-- Replace the Following with AEM Component (Delete, but Copy the Classes into the <div> of the AEM COmponent) -->
					<div class="align-right mission-gothic-regular" data-sly-resource="${'text3' @ resourceType='/apps/Acgdemo/components/content/text'}"></div>
					    
                </div>
    
                <div class="col-sm-6 pr-5 mobile-value-width">

<!-- Replace the Following with AEM Component (Delete, but Copy the Classes into the <div> of the AEM COmponent) -->


					
                    <div >
                        <select id="school_id" name="school_id" class="combobox form-control"></select> 
                    </div> 
    
                </div>
            </div>

            <div class="row">

<!-- Might need to keep this for the Bootstrap alignment to work, but I'm not sure. -->
<!-- Might just need to use an empty text component -->
<!-- Replace the Following with AEM Component (Delete, but Copy the Classes into the <div> of the AEM COmponent) -->
                <div class="col-sm-3">

                    <div>
                        <p></p>
                    </div>
    
                </div>
    
                <div class="col-sm-3 mobile-field-width">

<!-- Replace the Following with AEM Component (Delete, but Copy the Classes into the <div> of the AEM COmponent) -->
				<div class="align-right mission-gothic-regular" data-sly-resource="${'text4' @ resourceType='/apps/Acgdemo/components/content/text'}"></div>
    
                </div>

                <div class="col-sm-6 pr-5 mobile-value-width">

<!-- Replace the Following with AEM Component (Delete, but Copy the Classes into the <div> of the AEM COmponent) -->
                    <div>
                        <select id ="sub_school_id" name="sub_school_id" class="combobox form-control"> </select>
                </div>
    
                </div>

            </div>

<!-- This is the White, Horizontal "Separator" Line -->
            <hr class="line">

            <div class="row">

                <div class="col-sm-3">

<!-- Might need to keep this for the Bootstrap alignment to work, but I'm not sure. -->
<!-- Might just need to use an empty text component -->
<!-- Replace the Following with AEM Component (Delete, but Copy the Classes into the <div> of the AEM COmponent) -->
                    <div>
                        <p></p>
                    </div>
        
                </div>
                <div class="col-sm-3 mobile-field-width">

<!-- Replace the Following with AEM Component (Delete, but Copy the Classes into the <div> of the AEM COmponent) -->
					<div class="align-right mission-gothic-regular" data-sly-resource="${'text5' @ resourceType='/apps/Acgdemo/components/content/text'}"></div>
    
                </div>

                <div class="col-sm-3 mobile-value-width">

<!-- Replace the Following with AEM Component (Delete, but Copy the Classes into the <div> of the AEM COmponent) -->
                    <div class="orange-text">
                        <p>
                            * Dearborn, MI
                        </p>
                    </div>
    
                </div>

            </div>

            <div class="row">

                <div class="col-sm-3">

<!-- Might need to keep this for the Bootstrap alignment to work, but I'm not sure. -->
<!-- Might just need to use an empty text component -->
<!-- Replace the Following with AEM Component (Delete, but Copy the Classes into the <div> of the AEM COmponent) -->
                    <div>
                        <p></p>
                    </div>

                </div>
        
                <div class="col-sm-3 mobile-field-width">

<!-- Replace the Following with AEM Component (Delete, but Copy the Classes into the <div> of the AEM COmponent) -->
					<div class="align-right mission-gothic-regular" data-sly-resource="${'text6' @ resourceType='/apps/Acgdemo/components/content/text'}"></div>
    
                </div>
        
                <div class="col-sm-3 mobile-value-width">

<!-- Replace the Following with AEM Component (Delete, but Copy the Classes into the <div> of the AEM COmponent) -->
                    <div class="orange-text">
                        <p>
                            * Claims Executive
                        </p>
                    </div>
    
                </div>
            </div>

            <div class="row">

                <div class="col-sm-3">


<!-- Might need to keep this for the Bootstrap alignment to work, but I'm not sure. -->
<!-- Might just need to use an empty text component -->
<!-- Replace the Following with AEM Component (Delete, but Copy the Classes into the <div> of the AEM COmponent) -->
                    <div>
                        <p></p>
                    </div>

                </div>
        
                <div class="col-sm-3 mobile-field-width">

<!-- Replace the Following with AEM Component (Delete, but Copy the Classes into the <div> of the AEM COmponent) -->
					<div class="align-right mission-gothic-regular" data-sly-resource="${'text7' @ resourceType='/apps/Acgdemo/components/content/text'}"></div>
    
                </div>
        
                <div class="col-sm-3 mobile-value-width">

<!-- Replace the Following with AEM Component (Delete, but Copy the Classes into the <div> of the AEM COmponent) -->
                    <div class="orange-text">
                        <p>
                            * Learner
                        </p>
                    </div>
    
                </div>

            </div>

            <div class="row">

                <div class="col-sm-3">
        
<!-- Might need to keep this for the Bootstrap alignment to work, but I'm not sure. -->
<!-- Might just need to use an empty AEM text component -->

                </div>

                <div class="col-sm-3 mobile-field-width">

<!-- Replace the Following with AEM Component (Delete, but Copy the Classes into the <div> of the AEM COmponent) -->
					<div class="align-right mission-gothic-regular" data-sly-resource="${'text8' @ resourceType='/apps/Acgdemo/components/content/text'}"></div>
    
                </div>
        
                <div class="col-sm-6 mobile-value-width">

<!-- Replace the Following with AEM Component (Delete, but Copy the Classes into the <div> of the AEM COmponent) -->
                    <div class="orange-text">
                        <p>* Contact Human Resources for changes to these fields</p>
                    </div>

                </div>
    
            </div>

            <div class="row">
                <div class="col-sm-12 mobile-value-width mb-4 button-padding-right align-right">

<!-- Replace the Following with AEM Component (Delete, but Copy the Classes into the <div> of the AEM COmponent) -->
                    <input id="submitForm" class="btn btn-continue" type="submit">
                    </form>
                </div>
            </div>

        </div>

    </div>

</div>
