<!-- My header-->
<!-- Responsive Meta Tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">

    <title>ACG</title>

<!-- Links -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="assets/css/main.css"></link>

<!-- JavaScript -->

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <!-- Popper.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->

    <!-- Custom JS -->

	<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.all@categories='Acgdemo.site'}"/>

    <div class="container-fluid">
        <div class="row align-items-center">

            <!-- At SM Size and Up: Brand Logo is on Its Own Row -->

            <div class="col-sm-3 d-sm-flex d-none flex-center bg-white" id="brand-logo">     <!-- LOGO -->
				<!--<img class="img-fluid logo" src="/content/dam/acgdemo/HomePage/ca-logo.jpg">-->
                <div class="img-fluid logo" data-sly-resource="${'logo' @ resourceType='/libs/wcm/foundation/components/image'}"></div>
            </div>

            <div class="col-xs-6 d-sm-none d-flex bg-white" id="brand-logo">     <!-- LOGO -->
				<!--
                <img class="img-fluid logo" src="/apps/Acgdemo/clientlibs/clientlib-site/css/img/ca-logo.jpg"> -->
				<div class="img-fluid logo" data-sly-resource="${'logo1' @ resourceType='/libs/wcm/foundation/components/image'}"></div>

                <!-- At XS Size: Profile Picture Shares the Row with the Brand Logo -->

                <div class="col-xs-6 margin-auto d-flex d-sm-none profile-pic__xs-view__push-right">
                    <span class="text-username">First<br/> Last</span>
					<!--
                    <img class="img-fluid profile-pic navbar-brand" src="/content/dam/acgdemo/HomePage/prof-pic.png"> -->
					<div class="img-fluid profile-pic navbar-brand" data-sly-resource="${'profile' @ resourceType='/libs/wcm/foundation/components/image'}"></div>
                </div>

            </div>

            <div class="col-sm-9 bg-dark-blue max-height-controller d-none d-sm-flex">

                <div class="row align-items-center max-height-controller">

                    <div class="col-xs-12 col-sm-5"> 


						<div class="navbar-text" data-sly-resource="${'title' @ resourceType='/apps/Acgdemo/components/content/title'}"></div>

                    </div>

                    <div class="col-sm-3 d-none d-sm-flex flex-center">   <!-- Search Bar; Hide at XS Size -->
						<div class="input-group stylish-input-group" data-sly-resource="${'search' @ resourceType='/apps/Acgdemo/components/content/search'}"></div>

                    </div>

                    <div class="col-sm-4">

                        <div class="row">

                            <div class="d-none d-sm-flex col-sm-12 flex-center">
                                <span class="text-username display-inline ml-auto align-vertically">First<br/> Last</span>
                                <!--<img class="img-fluid profile-pic navbar-brand display-inline ml-auto" src="/apps/Acgdemo/clientlibs/clientlib-site/css/img/prof-pic.png">-->
								<div class="img-fluid profile-pic navbar-brand display-inline ml-auto" data-sly-resource="${'profile1' @ resourceType='/libs/wcm/foundation/components/image'}"></div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>
   <sly data-sly-include="navigation.html" />