@import url("typography.css");

@import url("header.css");
@import url("navigation.css");

@import url("my-profile-page.css");

@import url("footer.css");

@import url("viewports.css");

/* ------------ ------------ ------------ ------------ GLOBAL ------------ ------------ ------------ ------------ */

/* ------------ ------------ BRANDING ------------ ------------ */

/* ------------ TYPOGRAPHY ------------ */

.mission-gothic-regular {
  font-family: "mission-gothic-regular";
}

.body {
  font-family: "mission-gothic-regular";
}

div p {
  font-family: "mission-gothic-regular";
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.justify-content-center {
  justify-content: center;
}

.width-100 {
  width: 100%;
}

/* ------------ COLOR ------------ */

.bg-aaa-blue {
  background: #003893;
  color: #fff;
}

.bg-light-blue {
  background-color: #3399CA;
  color: #fff;
}

.bg-white {
  background-color: #fff;
}

.bg-orange {
  background-color: orange;
}

#bg-blue-dark-brand {
  background-color: #003893;
  color: #fff;
}

/* ------------ ------------ ALIGNMENT ------------ ------------ */

.display-inline {
  display: inline;
}

/* ------ Alignment: Vertical ------ */

.align-vertically {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar-nav > li {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* ------------ ------------ ------------ ------------ CONTENT ------------ ------------ ------------ ------------ */

.content {
  padding: 24px;
}

div.orange-text p {
  color: #F68C34;
}

.video-fluid iframe {
  max-width: 100%;
  width: 100%;
}

.margin-12 {
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 12px;
}

.padding-12 {
  padding: 12px;
}