@import url("typography.css");

@import url("header.css");
@import url("navigation.css");
@import url("my-profile-page.css");
@import url("footer.css");

@import url("viewports.css");

/* ------------ ------------ ------------ ------------ GLOBAL ------------ ------------ ------------ ------------ */

/* ------------ ------------ BRANDING ------------ ------------ */

/* ------------ TYPOGRAPHY ------------ */

.mission-gothic-regular {
  font-family: "mission-gothic-regular";
}

.body {
  font-family: "mission-gothic-regular";
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.justify-content-center {
  justify-content: center;
}

.width-100 {
  width: 100%;
}

/* ------------ COLOR ------------ */

.bg-aaa-blue {
  background: #003893;
  color: #fff;
}

.bg-light-blue {
  background-color: #3399CA;
  color: #fff;
}

.bg-white {
  background-color: #fff;
}

.bg-orange {
  background-color: orange;
}

/* ------------ ------------ ALIGNMENT ------------ ------------ */

.display-inline {
  display: inline;
}

/* ------ Alignment: Vertical ------ */

.align-vertically {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar-nav > li {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#bg-blue-dark-brand {
  background-color: #003893;
  color: #fff;
}


/* ------------ ------------ ------------ ------------ HEADER ------------ ------------ ------------ ------------ */

.header {
  background: #5c9ad4;
}

.max-height-controller {
  max-height: 150px;
}

.top-header {
  max-height: 150px;
}

.logo img {
  height: auto;
}

/* ------------ ------------ LOGO ------------ ------------ */

.cap-header div.img-fluid img {
  max-width: 100%;
  width: 100%;
}

/* ------------ ------------ TITLE ------------ ------------ */

.cap-header p,
.footer p,
.navbar-text p {
  margin: 0;
  font-family: 'mission-gothic-regular';
}

.navbar-light .navbar-text {
  color: #fff;
  font-family: 'mission-gothic-regular';
}


/* ------------ ------------ SEARCH BAR ------------ ------------ */

.stylish-input-group .input-group-addon {
  background-color: #0F2E5B;
}

.stylish-input-group .form-control {
  border-right: 0; 
  box-shadow: 0 0 0; 
  border-color: #ccc;
  background-color: #0F2E5B;
  font-family: 'mission-gothic-regular';
}

.stylish-input-group button {
  border: 0;
  background: transparent;
}

.form-control {
  border: 0;
}

.form-control::placeholder {
  color: white;
}

.fa, .fas, .fa-search {
  color: white;
  margin-top: 10px;
}

/* ------------ ------------ PROFILE ------------ ------------ */

.profile-pic {
  padding: 5px;
}

.text-username {
  font-size: 1.75em;
  color: orange;
  font-family: 'mission-gothic-regular';
}

#margin-right-neg-60 {
  margin-right: -60px;
}


/* ------------ ------------ ------------ ------------ CONTENT ------------ ------------ ------------ ------------ */

.content {
  padding: 24px;
}

div.orange-text p {
  color: orange;
}