div.align-right p {
  text-align: right;
}

div.icon img {
  max-width: 50%;
}

div.center-text p {
  height: 45px;
  line-height: 38px;
  white-space: nowrap;
  margin-bottom: 0px;
  font-size: 24px;
  margin-left: -48px;
}

.display-inline-flex {
  display: inline-flex;
}

div.padding-left-24 img {
  padding-left: 24px;
}

div.title-fix p {
  margin-
}