/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.form-control:focus {
    box-shadow: none;
  }
  
  .form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
  }
  
  /*
  *
  * ==========================================
  * FOR DEMO PURPOSE
  * ==========================================
  *
  */
  
  /*
  body {
    background: #ffd89b;
    background: -webkit-linear-gradient(to right, #ffd89b, #19547b);
    background: linear-gradient(to right, #ffd89b, #19547b);
    min-height: 50vh;
  }
  */
  
  .form-control::placeholder {
    font-size: 0.95rem;
    color: orange;
  }

  .vp-center {
    align-items: normal;
  }
  
  .carousel-item {
    max-height: 200px;
  }

  .carousel-indicators li {
    width: 20px;
    height: 20px;
    border-top: 0;
    border-bottom: 0;
    border-radius: 10px;
  }

  .brand-font {
    font-family: 'mission-gothic-regular';
  }

  .align-center {
    text-align: center;
  }

  .combobax > {
    font-family: "mission-gothic-regular";
  }

  div.icon img {
    max-width: 30%;
  }

  div.heading-title p {
    font-size: 18px;
  }