<!-- HEADER -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
<script>

	$(document).ready(function(){
        var schoolId= "";
        var subSchoolId= "";
        var club_id= "";
        var img_url= "";
       var acg_id = 12650;


  $.ajax({ 
				url: "/bin/userDetails.json?acg_id="+acg_id,
				 success: function(data){
                jQuery.each(data,function(i,val) {
                    schoolId = val.school.school_id;
                    subSchoolId= val.sub_school.sub_school_id;
                    club_id= val.club_id;
                    img_url= val.img_url;

                })

               if(schoolId == null){
                  document.getElementById('myModal').style.display="block";
                   document.getElementById('close').style.display="none";
                }else{

                    document.getElementById('myModal').style.display="none";
                    }
	    }});



	});

</script>
<style>
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
</style>
<!-- Responsive Meta Tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" type="text/css">
    <title>ACG</title>


<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.all@categories='Acgdemo.own'}"/>


<!-- HEADER -->

<div class="container-fluid cap-header">
    <div class="row align-items-center">

<!-- LOGO SECTION: LARGE SIZES ONLY; ONLY SHOWN BEFORE NAVIGATION COLLAPSES -->

        <div class="col-sm-3 d-sm-flex d-none flex-center bg-white" id="brand-logo"> 

<!-- * AEM Component Inserted Here ------------ ------------ ----------- -->
             <div class="img-fluid logo" data-sly-resource="${'logo' @ resourceType='/apps/Acgdemo/components/content/image'}"></div>

<!-- ------------ ------------ ------------ ------------ ------------  -->

        </div>

<!-- LOGO SECTION: SMALL SIZES ONLY, AFTER NAVIGATION HAS COLLAPSED -->

        <div class="col-xs-6 d-sm-none d-flex bg-white" id="brand-logo">

<!-- * AEM Component Inserted Here ------------ ------------ ----------- -->
			<div class="img-fluid logo" data-sly-resource="${'logo1' @ resourceType='/apps/Acgdemo/components/content/image'}"></div>
<!-- ------------ ------------ ------------ ------------ ------------  -->

<!-- PROFILE PICTURE SECTION: SMALL SIZES ONLY, AFTER NAVIGATION HAS COLLAPSED -->

            <div class="col-xs-6 margin-auto d-flex d-sm-none" id="margin-right-neg-60">            

<!-- FIRST AND LAST NAME -->

                <span class="text-username">

<!-- * AEM Component Inserted Here ------------ ------------ ----------- -->

<!-- * This is the Result in the Browser that the CSS is Targeting  --- -->
                    <div>
                        <sly data-sly-resource="${'text8' @ resourceType='/apps/Acgdemo/components/content/text'}"/>
                    </div>
<!-- * ------------ ------------ ------------ ------------ ------------ -->

                </span>


<!-- PROFILE PICTURE -->

<!-- * AEM Component Inserted Here ------------ ------------ ----------- -->
				<div class="img-fluid profile-pic navbar-brand" data-sly-resource="${'profile' @ resourceType='/libs/wcm/foundation/components/image'}"></div>
<!-- ------------ ------------ ------------ ------------ ------------  -->
            </div>

        </div>


<!-- HEADER SECTION: BLUE BACKGROUND: LARGER SIZES ONLY, SHOWN BEFORE THE NAVIGATION COLLAPSES -->

        <div class="col-sm-9 bg-aaa-blue max-height-controller d-none d-sm-flex">
            <div class="row align-items-center max-height-controller width-100">

                <div class="col-xs-12 col-sm-5 title-column"> 

                    <h2 class="navbar-text">

<!-- * AEM Component Inserted Here ------------ ------------ --------- -->
                        <sly data-sly-resource="${'text10' @ resourceType='/apps/Acgdemo/components/content/text'}"/>
<!-- ------------ ------------ ------------ ------------ ------------  -->

                    </h2>

                </div>

                <div class="col-sm-3 d-none d-sm-flex flex-center">

<!-- * AEM Component Inserted Here ------------ ------------ ----------- -->
                    <div class="input-group stylish-input-group" data-sly-resource="${'search' @ resourceType='/apps/Acgdemo/components/content/search'}"></div>
<!--
                        <div class="input-group stylish-input-group">
                                <input type="text" class="form-control"  placeholder="Search" >
                                <span class="input-group-addon">
                                    <button type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>  
                                </span>
                        </div> -->
                    
                </div>

                <div class="col-sm-4">

                    <div class="row">

                        <div class="d-none d-sm-flex col-sm-12 flex-center">
<!-- * AEM Component Inserted Here ------------ ------------ ----------- -->
                            <div class="text-username display-inline ml-auto align-vertically">

                                <sly data-sly-resource="${'text7' @ resourceType='/apps/Acgdemo/components/content/text'}"/>
                            </div>

<!-- * AEM Component Inserted Here ------------ ------------ ----------- -->
							<div style="cursor: pointer;" id="myBtn" class="img-fluid profile-pic navbar-brand display-inline ml-auto" data-sly-resource="${'profile1' @ resourceType='/libs/wcm/foundation/components/image'}"></div>
<!-- ------------ ------------ ------------ ------------ --------------- -->
                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>

</div>
<sly data-sly-include="navigation.html" />
<div class=" modal" id="myModal"    data-sly-resource="${'myprofile' @ resourceType='/apps/Acgdemo/components/content/my-profile'}"></div>

<!---<div class=" modal" id="myModal"    data-sly-include="profile.html" />--->

<!--profilepage start-->


<!---profile page end--->


<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var img = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
img.onclick = function() {
  modal.style.display = "none";
}
</script>
