 
 
.about-page a {
    color: #003777;
    text-decoration: underline;
}
 
 
 

.about-page {
    font-family: "mission-gothic-regular";  
    margin-top: 20px;
    
} 
 
@media (max-width:768px){
    .about-page .text-right { text-align: left !important;} 
    .about-page p   { margin-bottom: 5px;}
}




.about-page  { background-color: #0c3859;  padding-top: 10px; min-height: 200px; margin-bottom: 20px;    }
.about-page h2 {
    background-color: #3398cb;
    background-image: url(../../assets/img/about_icon.png);
    background-position: 25px center;
    background-repeat: no-repeat;
    padding-left: 70px;
    background-size: 30px;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 40px;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    color:#fff;
}  

 .about-page .about-area { 
    overflow: auto;  
    min-height: 680px;
    background-image: url(../../assets/img/about_pic.jpg);
    background-size: 100%;
    background-position: 0 10px;
    background-repeat: no-repeat;
}

.about-page .about-area .content-area {
    overflow: auto;
    padding: 15px;
    color: #fff;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 22%;
    background-color: rgba(0,0,0,0.7);
}
.about-page .about-area .content-area a { color: #fff; }

.about-page .about-area  h3{
     font-size: 24px;
     font-weight: bold;
     margin-bottom: 20px;
}
 
@media (max-width:1000px){
    .about-page .about-area {   
        background-size: auto 100%  ; 
        background-position: center;
    }
}
