/* ------------ ------------ ------------ ------------ ALERTS ------------ ------------ ------------ ------------ */

.padding-left-36 {
    padding-left: 36px;
}

#not-available-message-fix {
    min-height: 0px;
    margin-left: 12px;
    max-height: 224px;
}

#text-align-center {
    text-align: center;
}