/* ------------ ------------ ------------ ------------ BADGES ------------ ------------ ------------ ------------ */
 

.bg-blue { background:#3098cc !important }
.bg-orange { background:#f68d36 !important  }
.bg-green { background:#39b54a !important  } 

 
.badges .badge-box { background: #daf1fd; color:#fff; text-align: center; border-radius: 5px;  margin: 10px auto; }
.badges .badge-box  img { margin: 10px; } 
.badges .badge-box .dsc { background: #07395a;  border-radius:0 0 5px 5px ; padding: 10px; } 
.badges .badge-box .dsc h3 { font-size: 14px;font-weight: bold;
margin: auto;  } 

.badges .badge-box .dsc p { font-size: 10px; margin:0; } 
.badges-list { padding: 0px 20px; height:  220px; overflow-y: auto;  overflow-x: hidden; }
.badges-btn-grp { text-align: right; margin: 10px 0; }
.badges-btn-grp button { margin:10px 0;  border:none; color: #fff;  width:195px;  height:50px ; text-align: left;  vertical-align: middle; text-transform: uppercase;  line-height: 44px; font-size: 18px;  }
.badges-btn-grp button:first-child { margin-right:20px; }
.badges-btn-grp button img { margin-left:15px; margin-right:15px; }    
.badges-btn { background: #f68d36; }
.print-btn { background: #3098cc; }

.navbar-nav.nav-pills a.active {
    background-color:   orange;
    color: white;
}

section.badges .content-wrap.scroller {
    overflow: auto;
    height: 220px;
    overflow-x: hidden;
}  