/* ============ CATALOG PAGE ============ */

/* -- input placeholder css  */    
.form-control::placeholder {
    color: #666666;
    opacity: 1; /* Firefox */
  }
  .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #666666;
  }
  .form-control::-ms-input-placeholder { /* Microsoft Edge */
      color: #666666;
  }
  
  /* Catalog Search  */    
  .catalog-search {
      margin-bottom: 20px;
  }
  .catalog-search .box {
      padding-top: 10px;
      padding-bottom: 10px;
      padding: 0px;
      margin-top: 10px;
  }
  .catalog-search select , .catalog-search input { width:auto;  display: inline-block; border:1px solid #ddd;  }
  
  .catalog-search .fa.fa-search {
      color:     #333;
      position: absolute;
      left: 25px;
  }
  .catalog-search input.search-input { 
      padding-left: 30px;
      width: 260px;
  }
  
  .catalog-search .search-btn {
      background: #f90;
      color:#fff;
      width:100%;
    }
  
  /* Catalog Datatable  */    
  #catalog_wrapper {
      margin-bottom: 10px;
    }
  
  #catalog th {
      font-weight: normal;
  }
    #catalog th  {
     color:#666; 
  }
  .btn.add-btn {
      background: #003893;
      color:white;
  }
  .btn.add-btn i {
      margin: 0 5px 0  0;
  }
  #catalog, #catalog th, #catalog td {
      border: none;
  }
  
  #catalog_length select {
      display: inline-block;
      width: auto;
  }
  #catalog_filter .form-control {
      display: inline-block;
      width: auto;
      border: 1px solid 
      #ddd;
      margin-left: 10px;
  }
  table#catalog.table-striped tbody tr:nth-of-type(2n+1) {
      background-color: rgba(0,0,0,.03);
  }
  
  .btn-edit   { 
      border:none;
      background: transparent;
  }
  .btn-edit i { 
      color: #003893;
  }
  
  .sort-grp select {  border:1px solid #ddd;  }
  
  @media (min-width:767px){ 
      .catalog-search .search-btn {   width:200px;}
      .sort-grp select { width:auto; }
      .btn-grp   { text-align: right;  }
      #catalog_filter ,
      #catalog_paginate {
          float: right;
      }
  }
  
  @media (max-width:767px){
      .catalog-search .fa.fa-search { left:15px;}
      .catalog-search input.search-input {
          padding-left: 35px; 
          width: 100%;
      }
      .catalog-search select, .catalog-search input {
          width: 100%; 
      }
  }
  
  /*  Carousel Pagination ("Dots") */
  
  .carousel-item {
      max-height: 200px;
    }
  
    .carousel-indicators li {
      width: 20px;
      height: 20px;
      border-top: 0;
      border-bottom: 0;
      border-radius: 10px;
    }
  
  /*  navigation active */
    .navbar-nav.nav-pills a.active {
          background-color:   orange;
          color: white;
      }

/* ------------ ADD ------------ */

/* ------------ EDIT ------------ */

/* ------------ COURSE DETAILS ------------ */

/* ------------ CURRICULUM DETAILS ------------ */

/* ------------ MANAGER VIEW ------------ */

/* ------------ LEARNER VIEW: ADD ------------ */

/* ------------ LEARNER VIEW: ADDED ------------ */