.logo-email {
    width: 50%;
    text-align: center;
}

.email-template-text {
    margin: 12px;
    padding: 12px;
}

.bg-white { 
    background-color: white;
    padding: 24px;
}

.bg-blue-dark {
    background-color: #0c3859;
}

.center-element {
    float: none;
    margin: 0 auto;

}

.center-text {
    text-align: center;
}

.email-template-text {
    font-family: 'Mission Gothic Regular';
    color: white;
}

.email-template-content-padding {
    padding: 24px;
}

.email-subject-padding {
    padding-bottom: 8px;
}

.email-subject {
    padding: 24px;
    padding-bottom: 8px;
}

.email-template-link-color {
    color: #F68C34;
}

@media (min-width: 1200px) {
    .logo-email {
        max-width: 40%;
    }
}

@media (max-width: 768px) {
    #logo-email {
        width: 100%;
    }
}