/* ------------ ------------ ------------ ------------ HEADER ------------ ------------ ------------ ------------ */

.header {
    background: #5c9ad4; /*This is the "light blue" color. */
  }
  
/* - */

.top-header {
    max-height: 150px;
  }

/* ------------ ------------ LOGO ------------ ------------ */

.logo img {
  height: auto;
}

.cap-header div.img-fluid img {
  max-width: 100%;
  width: 100%;
}
  
/* ------------ ------------ TITLE ------------ ------------ */

.cap-header p,
.footer p,
.navbar-text p {
  margin: 0;
  font-family: 'mission-gothic-regular';
}

.navbar-light .navbar-text {
  color: #fff;
  font-family: 'mission-gothic-regular';
}
  
  
/* ------------ ------------ SEARCH BAR ------------ ------------ */

.form-control {
  border: 0;
}

.stylish-input-group .form-control {
  border-right: 0; 
  box-shadow: 0 0 0; 
  border-color: #ccc;
  background-color: #0F2E5B;
  font-family: 'mission-gothic-regular';
}

.stylish-input-group button {
  border: 0;
  background: transparent;
}

.stylish-input-group .input-group-addon {
  background-color: #0F2E5B;
}

.form-control::placeholder {
  color: white;
}

/* This is the "icon" inside of the search bar. */
.fa, .fas, .fa-search {
  color: white;
  margin-top: 10px; /* DONE: The icon was too "high" inside of the search bar. */
}
  
/* ------------ ------------ PROFILE PICTURE ------------ ------------ */

/* This is the user's First and Last name */
.text-username {
  font-size: 1.75em;
  color: orange;
  font-family: 'mission-gothic-regular';
}

/* */
.profile-pic {
  padding: 5px;
}

.profile-pic {
  padding: 2px;
  margin-left: 5px;
  width: 50%;
  height: 50%;
}

#margin-right-neg-60 {
  margin-right: -60px;
}

.flex-end {
  justify-content: flex-end;
}


.col, .col-sm-12 {
  padding-left: 0px;
  padding-right: 0px;
}


/* ------------ ------------ VIEWPORTS ------------ ------------ */

/* Size Small */
@media (max-width: 579px) {

  /* DONE: The logo was too small at sizes below 579px. */
  .logo {
    width: 100%;
  }

  /* DONE: The Profile Picture was too large at sizes below 579px. */
  .profile-pic {
   /* width: 40%; */
  }

}



body {
  background-color: white;
}


/* ============ ============ MEDIA QUERIES ============ ============ */


/* ============ MOBILE SIZES ============ */

/* Extra-Small (Phone: Portrait)
/* < 576px */
/* No media query since this is the default in Bootstrap */

/* Small (Phone: Landscape)
/* 576px - 767px */
/* @media (min-width: 576px) {} */

/*
@media (min-width: 576px) {

  .input-group, .stylish-input-group {
      margin-left: -1px;
  }

  .text-username {
      font-size: 1.25rem;
  }

}
*/

@media (max-width: 712px) {

  .input-group, .stylish-input-group {
     /* margin-left: 12px; */
  }

  .text-username {
    font-size: 1.25rem;
  }

}


/* ============ TABLET SIZE ============ */

/* Medium (Tablets) */
/* 768px - 991px */
/* @media (min-width: 768px) {} */


/* ============ DESKTOP SIZES ============ */

/* Large (Desktops) */
/* 992px - 1199px */
/* @media (min-width: 992px) {} */

@media (min-width: 1024px) {

  .profile-pic {
   /* width: 40%; */
    padding: 10px;
  }

}

/* Extra Large (Desktops) */
/* 1200+px */
/* @media (min-width: 1200px) {} */