/* ============ LEARNERS ============ */
 
/* Learners Form */   
.learner-form {
    background:  #b0cde6;
    margin-bottom: 20px; 
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 0;
}

.learner-form  .buttons {
    text-align: right;
}
.learner-form  button {
     margin-left:30px ;
}

/* Create Assign  Text Task */ 

.create-task-btn {
    width: 200px;
}
.create-task-btn span {
    text-align: center;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    top: -7px;
}

@media (min-width:1100px){  
  
}

@media (min-width:767px){ 
    .learner-form .buttons button:last-child {
     margin-right: 20px;}
    .learner-form label:first-child {
        margin-left: 20px;
    }  
}


@media (max-width:1024px){  
    .learner-form label, .learner-form .calendar-input {
        margin-left: 30px;
    } 
}


@media (max-width:1000px){  
 
    .create-task-btn {
        padding: 10px !important ;
        width: 100%;
    }
    .create-task-btn span { 
        font-size: 15px;
    }
    .print-btn img {
        width: 20px;
        margin-right: 5px !important;
    }
}
 

@media (max-width:767px){  
    .learner-form  .buttons { text-align: center; }
    .learner-form  .buttons  button {   font-size: 14px; width: 100%; margin:3px;}  
    .learner-form {
        text-align: center;
        padding: 10px;
    } 
    .btn.assign-task-btn { 
        font-size: 14px;
    }
}

  /* Learners Datatable */      
  
  table#learners {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
  }
 
  #learners_wrapper { margin-bottom: 10px; }
  #learners th .count span {    font-size: 10px; }
  #learners .fa { color:#0c3859 ; margin: 0;}
  #learners th {
      font-weight: normal;
      background: #b0cde6;
  } 
  #learners th  {
     color:#000; 
     text-align: center;
     position: relative;
  }
  table#learners input[type="checkbox"] {
    margin-top: 15px;
}
  #learners th:nth-child(2) small {
    position: absolute;
    left: 0;
    top: 60px; 
}
#learners td:last-child button {
    display: block;
    width: 100px;
    margin: 2px; 
    padding: 2px;
    font-size: 12px;
}
  #learners  .count ,  #learners .dates  {
      width: 120px;
      text-align: center;
      display: inline-block; 
  }
  #learners .count i {
    width: 46%;
    text-align: center;
    display: inline-block;
  }
  #learners .count span, #learners .dates span {
      width: 46%; display: inline-block; vertical-align: top;
  }
  #learners .dates span {
    font-size: 9px;
}

  #learners, #learners th, #learners td {
      border: none;
  }
  #learners td:nth-child(3) {
      line-height: 50px;
  }
  
  #learners_length select {
      display: inline-block;
      width: auto;
  }
  #learners_filter .form-control {
      display: inline-block;
      width: auto;
      border: 1px solid  #ddd;
      margin-left: 10px;
  }
  table#learners.table-striped tbody tr:nth-of-type(2n+1) {
      background-color: rgba(0,0,0,.03);
  } 

  /* #learners th:first-child , #learners td:first-child { background: #9fc5f8; } */
 
  
@media (min-width:767px) {  
    #learners_filter ,
    #learners_paginate {
        float: right;
    }
}
 
@media (max-width:767px){ 
   #learners .btn, #learners img {
          margin-bottom: 10px;
      } 
    #learners td:nth-child(3) {
        line-height: normal;
    }
 
}

#learners input[type="checkbox"] { width: 22px; }



 