@import url("header.css");
@import url("navigation.css");
@import url("carousel.css");
@import url("footer.css");
@import url("alerts.css");

@import url("dashboard.css");
@import url("my-profile.css");
@import url("newsfeed.css");
@import url("video.css");
@import url("badges.css");
@import url("catalog.css");
@import url("learners.css");
@import url("windows.css"); 
@import url("syllabus.css"); 
@import url("challenge.css"); 
@import url("learning-diary.css"); 
@import url("clubs.css"); 
@import url("leaderboards.css");  
@import url("challenge-center.css");  
@import url("tools.css");  
@import url("whats-new.css");  
@import url("reports.css");  
@import url("access.css");  
@import url("add-resource.css");  


@import url("typography.css");
@import url("viewports.css");

@import url("email-templates.css");

/* Nothing can be above @import statements in CSS, not even comments, or they won't work. */
/* ============ IMPORTED CSS (END) ============ */


/* ============ GLOBAL STYLES ============ */

/* ------------ TYPOGRAPHY ------------ */

.mission-gothic-regular {
  font-family: "mission-gothic-regular";
}

.body {
  font-family: "mission-gothic-regular";
}

div p {
  font-family: "mission-gothic-regular";
}

.justify-content-center {
  justify-content: center;
}

.width-100 {
  width: 100%;
}

.font-size-24 {
  font-size: 24px;
}

.padding-top-12 {
  padding-top: 12px;
}

/* ------------ COLOR ------------ */
.bg-white {
  background-color: #fff;
}

.color-gray {
  color: #2B5F9E;
}

/* --- BLUE --- */
.bg-aaa-blue {
  background: #003893; /* This is AAA's "main" blue color. */
  color: #fff;
}

.bg-light-blue {
  background-color: #3399CA;
  color: #fff;
}

/* --- ORANGE --- */
.bg-orange {
  background-color: #F68C34 ; 
}
.orange {
  background-color: #F68C34 ; 
}
div.orange-text p {
  color: #F68C34;
}

.bg-orange div {
  background-color: #F68C34;
}

#bg-blue-dark-brand {
  background-color: #003893;
  color: #fff;
}

/* GREEN */

.green { 
  background-color:#93c47d;
}


 

/* ------------ ------------ LAYOUT ------------ ------------ */

.display-flex {
  display: flex;
}

.display-inline {
  display: inline;
}

.position-relative {
  position: relative;
}

/* ------ ALIGNMENT: Horizontal ------ */
.vp-center {
  align-items: normal;
}

.align-center {
  text-align: center;
}

/* ------ ALIGNMENT: Vertical ------ */
.align-vertically {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar-nav > li {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ------------ ------------ SPACING ------------ ------------ */

/* ------------ PADDING ------------ */

.no-padding {
  padding: 0 !important;
}

.no-padding-top {
  padding-top: 0 !important;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

.padding-12 {
  padding: 12px;
}

.padding-left-zero {
  padding-left: 0px;
}

.padding-right-zero {
  padding-right: 0px;
}

.content {
  padding: 24px;
}

/* ------------ MARGIN ------------ */

.no-margin {
  margin: 0 !important;
}

.margin-12 {
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 12px;
}

.margin-right-12 {
  margin-right: 12px;
}

/* ============ CLEAN-UP ============ */



/* ------------ ICON ------------ */
.fas {
  margin-top: 6px;
  margin-right: 6px;
} 
span[class*='-icon'].lg-icon i.fa{ font-size: 40px; color:#0c3859 !important}
span[class*='-icon'].lg-icon + small { display: block; margin-top: 5px;}
span[class*='-icon'].lg-icon i.fa-list-ul { font-size: 20px;  top:20%}

 .online-icon, .ilt-icon, .vrcr-icon {
  position: relative;
  display: inline-block;
  width: 30px;
  font-size: 24px;
  margin-right: 10px;
}

.task-type-icon.online-icon .fa-list-ul,
.online-icon .fa-list-ul {
  position: absolute;
  font-size: 52%;
  left: 25%;
  top: 13%;
} 
.task-type-icon.online-icon .fa-list-ul {  left: 35%; top:35%}
.ilt-icon .fa-list-ul {
  position: absolute;
  font-size: 57%;
  right: 0;
  top: 2%;
}
.vrcr-icon .fa-user {
  position: absolute;
  font-size: 59%;
  left: 11%;
  top: 10%;
} 
.vrcr-icon .fa-list-ul {
  position: absolute;
  font-size: 35%;
  right: 22%;
  top: 10%;
}
 
h4.wrench-icon {
  padding-left: 36px;
  position: relative;
} 
.wrench-icon:before {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f0ad";
  font-size: 30px;
  left: 0;
  position: absolute;
  top: 10px;
}
.AddResourceLink-icon .fa-plus { margin-right:20px !important;} 
.AddResourceLink-icon .fa-link { top:10px; left:25px;position:absolute}
/* ------------ CONTENT ------------ */

.sub-school-spacing-fix {
  margin-right: 20px;
  margin-top: -20px;
  width: 95%;
}

/* ------------ CAROUSEL ------------ */

.carousel-item {
  max-height: 200px;
}

.carousel-indicators li {
  width: 20px;
  height: 20px;
  border-top: 0;
  border-bottom: 0;
  border-radius: 10px;
}

/* ------------ Misc. ------------ */
 /* Select Dropdown */

 select {

  /* styling */
  background-color: white;
  border: thin solid #3398cb;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* Reset */
  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none; 

  margin-bottom: 10px;
}

select[multiple] , select[multiple]:focus{ 
  background-image: none;
  padding:0;

}
select[multiple] option:checked{
  background: transparent );
}

/* checkbox */
 
input[type="checkbox"] { 
  background-color:transparent;
      display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
     color: #3398cb;
     font-size:20px;
     -webkit-appearance: none;
     -moz-appearance: none;  
     width: 25px;
     height: 25px;
     border-radius: 3px;
     position: relative; 
     vertical-align: middle;
}
input[type="checkbox"]:checked {
   background-color:transparent;
}

input[type="checkbox"]:checked:after ,
input[type="checkbox"]:after {    
  position:absolute; 
      content: "\f0c8";
      color:#fff; 
      border:  1px solid #0c3859;
      width: 22px;
      height: 21px;
      border-radius: 3px;

}

 input[type="checkbox"]:checked:before { border:none; color:#0c3859;  position:absolute;  z-index: 1; content: "\f00c"; }

 
/* radiobutton */
 
input[type="radio"] { 
  background-color:transparent;
      display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
     color: #3398cb;
     font-size:20px;
     -webkit-appearance: none;
     -moz-appearance: none;  
     width: 22px;
     height: 21px;
     border-radius: 3px;
     position: relative;
     vertical-align: middle;
}
input[type="radio"]:checked {
   background-color:transparent;
}

input[type="radio"]:checked:after ,
input[type="radio"]:after {    
  position:absolute; 
      content: "\f10c";
      color:#3398cb;  
      width: 22px;
      height: 21px;
      border-radius: 3px;

}

 input[type="radio"]:checked:after {  color:#3398cb;  position:absolute;  z-index: 1; content: "\f192"; }
/* Arrows */
select {
  border: 1px solid #3398cb;
  background-image:
    linear-gradient(45deg, transparent 50%, #333 50%),
    linear-gradient(135deg, #333 50%, transparent 50%),
    linear-gradient(to right, #3398cb, #3398cb);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
}

select:focus {
  background-image:
    linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    linear-gradient(to right, gray, gray);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
  border-color: grey;
  outline: 0;
}


/* Input Placeholder */    
.form-control::placeholder {
    color: #333;
    opacity: 1; /* Firefox */
  }
  .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #333;
  }
  .form-control::-ms-input-placeholder { /* Microsoft Edge */
      color: #333;
  }

  /* Page Background */   
  body {
    background: #c4e2f0;
  }

  /* Header Background  */   
 .cap-header {
   background:   #fff;
  }

  /*  Navigation (Active) */
  .navbar-nav.nav-pills .active {
    background-color:   orange;
    color: white;
}
  .navbar-nav.nav-pills a.active {
    background-color:   orange;
    color: white;
}
.navbar-nav .dropdown-menu { 
  padding: 0;
}

/*   button */ 


/*   buttons list */

.full { width:100%; }
@media (min-width:600px){
  .button-list button.half  +  button.half  { margin-left: 2%;} 
   .half { width:48%; }
}
@media (max-width:600px){
    .half { width:100%; }
}
 
.button-list button {
    position: relative; margin-bottom: 10px; }
     .button-list .fa {
    position: absolute;
    left: 10px;
    top: 10px;
}



/* close/remove/ window close   button */ 

.close , .delete, .window-close { font-family: "FontAwesome";
-moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  border: 2px solid #fff;
  background: #fff;
  color:#0c3859; 
  border-radius: 50%;
  opacity: 1;
  cursor: pointer;
}   
.close:before{
  content: "\f057";
}  

  .delete:before{
    content: "\f057";
  }  
  .window-close {
    color:#fff;
    background:transparent;
    border:none;
    position: absolute;
    right: 10px;
    top: 7px;
    font-size: 24px;
   }
  .window-close:before {
    
    content: "\f00d";
  }
  





/* Search */
section.search {
  margin-top: 20px;
  background:     #fff;
  padding-top: 10px;
}

section.search h2.title { 
  background-color:#3398cb; 
  background-image: url('../../assets/img/search-title-icon.png');
  background-position: 10px center;
  background-repeat: no-repeat;
  padding-left: 50px;
  background-size: 30px; 
  font-size:18px;
  color:#fff;
  text-transform: uppercase;
  line-height: 40px;  
  margin-bottom: 0;
}

section.search select  {
    width: auto; 
    display: inline-block;
  }
  
  
  #width-125-percent {
    width: 125%;
  }

  @media (max-width: 767px) {
    #width-125-percent {
      width: 100%;
    }
  }

  .search-box input { 
    display: inline-block;
    border:1px solid #3398cb;
  }

  .search-box button, .search-box button:hover {
    background: #f90;
    color: #fff;
  }

 .search-box input {
    background-color: #fff;
  }

.search-box input,  .search-box button {
      width: 255px; 
      float: none;
      display: block;
      max-width: 100%;
      margin-top: 10px;
      margin-bottom: 10px;
  }
  .search-box.wide input { width:100%;}
  .search-box input {
      background-image: url('../../assets/img/search-icon.png');
      background-position: 5px center;
      background-repeat: no-repeat;
      padding-left: 40px;
      background-size: 30px;
  }

  section.search .search-content {
      padding: 20px;    
  }
  section.search .search-box input { margin:0; }

  .search-box.inline input , .search-box.inline button { width:auto; display: inline-block; vertical-align: middle;}

 
  .search-box.inline   button {
    padding: 5px 10px;
    vertical-align: middle;
}
.filter-box.inline-block,
.button-grp.inline-block,
.search-box.inline-block {
  display: inline-block;
  text-align: left;
  vertical-align: top;

}
.search-box.inline-block { margin-right:10px ;}
@media (min-width: 767px) {
  .search-box.right {
    float: right;
  }
}
@media (max-width: 767px) {

  section.search  .search-box {
      margin-bottom: 10px;
  }

  section.search .search-box input, section.search .search-box button,
  section.search select {
      width: 100%;
      display: block;
  } 

}

/* filter Box */

.filter-box {
  padding: 10px;    
}

.filter-box select { 
  display: inline-block;   
  padding-bottom: 6px;
  padding-top: 6px;
}


/* Contentarea Section */  
section.contentarea { 
  background: #fff; 
  margin-bottom: 20px;
}

section.contentarea h2.title { background-color:#3398cb;  
  padding-left: 20px;
  background-size: 30px; 
  font-size:18px;
  color:#fff;
  text-transform: uppercase;
  line-height: 40px;  
  margin-bottom: 0;
  margin-top: 0;
}

section.contentarea .content-wrap {
  padding: 20px;    
}

.content-wrap.scroller {
  overflow: auto;
  height: 335px;
}
.content-wrap.scroller.two {
  overflow: auto;
  height: 690px;
}



 /* --- Buttons --- */    

 .btn.blue {
  background: #3098cc !important;
  color:#fff;
}
.btn.purple {
  background: #9900ff !important;
  color:#fff;
} 
.btn.white {
  background: #fff !important;
  color:#000;
} 
.btn.lgreen {
  background: #8bc53f !important;
  color:#fff;
}
.btn.red {
  background: red !important;
  color:#fff;
}
.btn.darkBlue {
  background: #0c3859 !important;
  color:#fff;
}
.btn.lightBlue {
  background: #6fa8dc !important;
  color:#fff;
}
.btn.orange {
  background: #f90 !important;
  color:#fff;
}
.btn.assign-task-btn {
  width: 300px;  
  max-width: 100%;  
}
.btn.lightGray {
  background: #87919a !important;
  color:#fff;
}

.btn.aqua { 
  background-color:aqua;
}
.btn.aqua.bdr { 
   border:1px solid
}

.btn.pink { 
  background-color:#ff12d2;
  color:#fff;
}
.btn.pink.bdr { 
   border:1px solid  #333
}



.btn.margin { margin:10px 0 ;}

button[class*='btn'] i { margin-top:0;  margin-left: 2px;}   

.btn-grp {margin:10px 0;  text-align: right;  }
.btn-grp button{   border:none; color: #fff;     text-align: left;  vertical-align: middle;     font-size: 18px;  }
.btn-grp button img { height: 20px;   }   

@media (min-width:767px){   
  .btn-grp   { text-align: right;  } 
}


.button-grp { text-align: right; margin: 10px 0; }
.button-grp button { margin: 0;  border:none; color: #fff;    height:50px ; text-align: left;  vertical-align: middle;   line-height: normal;
    font-size: 16px;
    padding: 10px 15px;   } 
.button-grp button img { margin-left: 0;
    margin-right: 15px;
    margin-top: -4px; }    
.button-grp .fill-btn {  background: #3098cc; }
.button-grp .outline-btn {  border:1px solid #3098cc;  background: #fff; color: #3098cc}
.button-grp .outline-btn i.fa { color:#3098cc }
.button-grp .outline-btn.right {
    text-align: right;
    padding-right: 20px;
    padding-top: 4px;
    position: relative;
    padding-left: 45px;
}
.button-grp .outline-btn.right .fa {
    position: absolute;
    left: 20px;
    top: 14px;
} 
.button-grp button .fa {
    margin-right: 5px;
}

.print-btn img {
  width: 25px;
  margin-right: 0;
}


/* Create Assign  Text Task, Add  Text Task , Outlook Calender buttons... */ 

button.assign-to-btn,
button.view-course-btn ,
button.reg-act-btn , 
button.add-learning-dairy-btn , 
button.create-task-btn  , 
button.add-text-task-btn   ,
button.outlook-cal-btn    {   width:auto; }

button.assign-to-btn .fa,
button.view-course-btn .fa,
button.reg-act-btn .fa, 
button.add-learning-dairy-btn .fa, 
button.create-task-btn  .fa , 
button.add-text-task-btn  .fa ,
button.outlook-cal-btn  .fa { margin:2px }

.assign-to-btn span,
.view-course-btn span,
.reg-act-btn span, 
.add-learning-dairy-btn span,
.create-task-btn span , 
.add-text-task-btn span ,
.outlook-cal-btn span{
    text-align: center;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    top: -7px;
    margin-left: 10px;
    line-height: normal;
} 
.assign-to-btn span { top:0;}
 
.reg-act-btn  small {
  display: block;
}
section.task-list button { padding:0px 5px}
  section.task-list button  span{ top:0; line-height: normal;}


@media (max-width:1000px){  
 
    .create-task-btn {
        padding: 10px !important ;
        width: 100%;
    }
    .create-task-btn span { 
        font-size: 15px;
    }
    .print-btn img {
        width: 20px;
        margin-right: 5px !important;
    }
}
 

/* Calendar Input */    
.calendar-input {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}  
.calendar-input input {
  width: auto;
  border: 1px solid #0c3859;
  position: relative;
  padding-right: 30px;
  width: 150px;
  padding: 5px;
  margin-bottom: 0;
}
.calendar-input i {
  color: #fff;
  margin-left: -10px;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
}
.calendar-input:after {
  background: #0c3859;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 35px;
  content: "";
  z-index: 0;
  border-radius: 0px 5px 5px 0px;
}
.calendar-input.margin { margin:10px;}
/* Date Range */

.dateRange   {
  padding-top: 5px;
}
.dateRange .calendar-input input {font-size: 12px;  width: 100px;  }

.dateRange .calendar-input {
  margin-bottom: 2px;
}
.dateRange {
  min-width: 130px;
}
.dateRange label {
    display: inline-block;
    float: left;
    font-size: 12px;
    margin: 0;
    text-align: right;
    vertical-align: middle;
    line-height: 30px;
    width:30px;
    padding-right: 5px;
}
.dateRange .calendar-input i.fa {
  color: #fff;
  margin-left: -10px;
  position: absolute;  
  font-size: 12px;
}

.dateRange .calendar-input:after { 
  width: 25px; 
}
.dateRange  .calendar-input i { 
  right: 7px; 
}

   /* Responsive Datatable */ 
  .responsive-table {
    border: 1px solid #9fc5f8;
    margin-bottom: 20px; 
  }

 /* Datatable auto scrollbar  */ 
  @media (max-width:1024px){ 
    .responsive-table { overflow: auto; } 
}

div.dataTables_length ,
div.dataTables_filter {   margin-top: 20px;}

  div.dataTables_info ,
div.dataTables_paginate {   margin-bottom: 20px;}

  div.dataTables_length ,
div.dataTables_info  { margin-left: 20px; }

div.dataTables_filter , 
div.dataTables_paginate  { margin-right: 20px !important; }
 
.dataTables_filter input {
  border:1px solid #3398cb

}


  .dataTable th {
    font-weight: normal;
    background: #b0cde6;
}
.dataTable th, .dataTable td {
    border: none;
}
.table th { line-height: normal;}
/* Task type icon */

.task-type-icon i.fa { font-size: 30px; display: inline-block; vertical-align: middle; margin-right: 5px; }

/* thumbnail */

.thumbnail { border:1px solid #333; width:80px; height: 80px; text-align: center; font-size: 12px;}


/* title */
h3.title { font-size: 20px ;}
h3.title.inline {
  display: inline-block;
  margin-left: 10px;
}

/*  button toggle */

.toggle-group { 
  border-radius: 5px;
}

.toggle-group label { 
  border-radius: 5px;
}
.toggle-handle { 
  background: #fff; 
}
label.btn.btn-default.active.toggle-off { background: #ccc;}
.toggle.btn.btn-default {
  border: 1px solid #3398cb;
}

.toggle .btn-primary{
  background: #95bcf2;
  color:#000;
}


/* message */

.rank { 
  background-image: url('../../assets/img/rank-bg.png'); 
  background-repeat: no-repeat;
  background-size: 100%;
  font-size: 18px;
  color: #000;
  width: 89px;
  height: 100px;
  display: block;
  text-align: center;
  line-height: 32px;
  font-weight: bold;
 } 

 /* guest-user-msg */

 .guest-user-msg .club h3 { font-size: 18px; font-weight: normal; text-align: center; margin: 50px; }
 
 .guest-user-msg .club { margin: 20px auto;}

 /* form */

 .form-control.inline { display: inline-block;}

 .req { color: #f90 ; font-size: 24px; }

 /* toggle round style */
 .toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20rem; vertical-align: middle; }
 .toggle.ios .toggle-handle { border-radius: 20rem; }

 .toggle.btn-sm .btn { padding-top: 0px; padding-bottom: 0px; font-size: 14px; line-height: 24px;}


 /* Text Color */

 .orange-text { color:#fb9700}