/* ------------ ------------ ------------ ------------ IMPORTED CSS ------------ ------------ ------------ ------------ */

@import url("typography.css");

@import url("header.css");
@import url("navigation.css");

@import url("my-profile-page.css");
@import url(".css");
@import url(".css");
@import url(".css");

@import url("footer.css");

@import url("viewports.css");

/* ------------ ------------ ------------ ------------ GLOBAL ------------ ------------ ------------ ------------ */

/* ------------ ------------ BRANDING ------------ ------------ */

/* ------------ TYPOGRAPHY ------------ */

.mission-gothic-regular {
  font-family: "mission-gothic-regular";
}

.body {
  font-family: "mission-gothic-regular";
}

div p {
  font-family: "mission-gothic-regular";
}

.justify-content-center {
  justify-content: center;
}

.width-100 {
  width: 100%;
}

.font-size-24 {
  font-size: 24px;
}

/* ------------ COLOR ------------ */

.bg-white {
  background-color: #fff;
}

.color-gray {
  color: #2B5F9E;
}

/* BLUE */
.bg-aaa-blue {
  background: #003893; /* This is AAA's "main" blue color. */
  color: #fff;
}

.bg-light-blue {
  background-color: #3399CA;
  color: #fff;
}

/* ORANGE */
.bg-orange {
  background-color: #F68C34;
}

div.orange-text p {
  color: #F68C34;
}

.bg-orange div {
  background-color: #F68C34;
}

#bg-blue-dark-brand {
  background-color: #003893;
  color: #fff;
}

/* ------------ ------------ LAYOUT ------------ ------------ */

.display-flex {
  display: flex;
}

.display-inline {
  display: inline;
}

.position-relative {
  position: relative;
}

/* ------ Alignment: Vertical ------ */

.align-vertically {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar-nav > li {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ------------ ------------ SPACING ------------ ------------ */

/* ------------ PADDING ------------ */

.no-padding {
  padding: 0;
}

.padding-12 {
  padding: 12px;
}

.content {
  padding: 24px;
}

/* ------------ MARGIN ------------ */

.no-margin {
  margin: 0;
}

.margin-12 {
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 12px;
}

/* ------------ ------------ ------------ ------------ TO CLEAN-UP ------------ ------------ ------------ ------------ */

/* NEWSFEED */

.height-36 {
  height: 36px;
}

/* ICON */
.fas {
  margin-top: 6px;
  margin-right: 6px;
}

/* ------------ ------------ CONTENT ------------ ------------ */

.sub-school-spacing-fix {
  margin-right: 20px;
  margin-top: -20px;
  width: 95%;
}