@font-face {
    font-family: 'mission-gothic-regular';
    src: url('../fonts/mission-gothic-regular.eot?iefix') format('embedded-opentype'),
         url('../fonts/mission-gothic-regular.woff') format('woff'),
         url('../fonts/mission-gothic-regular.ttf') format('truetype'),
         url('../fonts/mission-gothic-regular.svg#svg-mission-gothic-regular') format('svg');
  }
  
  /*

  @font-face {
    font-family: 'mission-gothic-regular-italic';
    src: url('../fonts/mission-gothic-regular-italic.otf');
    src: url('../fonts/mission-gothic-regular-italic.eot');
  }
  
  @font-face {
    font-family: 'mission-gothic-thin';
    src: url('../fonts/mission-gothic-thin.otf');
    src: url('../fonts/mission-gothic-thin.eot');
  }
  
  @font-face {
    font-family: 'mission-gothic-thin-italic';
    src: url('../fonts/mission-gothic-thin-italic.otf');
    src: url('../fonts/mission-gothic-thin-italic.eot');
  }
  
  @font-face {
    font-family: 'mission-gothic-light';
    src: url('../fonts/mission-gothic-light.otf');
    src: url('../fonts/mission-gothic-light.eot');
  }
  
  @font-face {
    font-family: 'mission-gothic-light-italic';
    src: url('../fonts/mission-gothic-light-italic.otf');
    src: url('../fonts/mission-gothic-light-italic.eot');
  }
  
  @font-face {
    font-family: 'mission-gothic-bold';
    src: url('../fonts/mission-gothic-bold.otf');
    src: url('../fonts/mission-gothic-bold.eot');
  }
  
  @font-face {
    font-family: 'mission-gothic-bold-italic';
    src: url('../fonts/mission-gothic-bold-italic.otf');
    src: url('../fonts/mission-gothic-bold-italic.eot');
  }
  
  @font-face {
    font-family: 'mission-gothic-black';
    src: url('../fonts/mission-gothic-black.otf');
    src: url('../fonts/mission-gothic-black.eot');
  }
  
  @font-face {
    font-family: 'mission-gothic-black-italic';
    src: url('../fonts/mission-gothic-black-italic.otf');
    src: url('../fonts/mission-gothic-black-italic.eot');
  }

  */