/* ============ VIDEO PAGE ============ */

.brand-font {
  font-family: 'mission-gothic-regular';
}

div.heading-title p {
  font-size: 18px;
}

.margin-bottom-36 {
  margin-bottom: 36px;
}

.combobax > {
  font-family: "mission-gothic-regular";
}

/* ------------ VIDEO ------------ */

.video-thumbnail {
  max-width: 90%;
  padding: 0px;
  margin: 0px;
}

.video-description {
  background-color: blue;
  color: white;

}

/* DONE: The video needs to be responsive. */
.video-fluid iframe {
  max-width: 100%;
  width: 100%;
}

/* ------------ - ------------ */
.form-control:focus {
  box-shadow: none;
}

.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}
  
.form-control::placeholder {
  font-size: 0.95rem;
  color: orange;
}

/* ------------ IMAGES ------------ */
div.icon img {
  max-width: 30%;
}

/* ------------ VIEWPORTS ------------ */
@media (min-width: 1329px) {
  .margin-top-fix {
    margin-top: 36px;
  }
}

@media (max-width: 1328px) {
  .margin-top-fix {
    margin-top: 0px;
  }
}

@media (max-width: 1098px) {
  .margin-top-fix {
    margin-top: 0px;
  }
}

@media (max-width: 712px) {

  .input-group, .stylish-input-group  {
    margin-left: 0px;
  }

}

@media (max-width: 575px) {

  .margin-top-fix {
    margin-top: -36px;
  }

  .margin-neg-48 {
    margin-top: -48px;
  }

}




.title {
  font-size: 18px;
  color:   #fff;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 20px;
  margin-top: 10px;
}

.bg-blue { 
  background:#3098cc; 
}

.bg-orange { 
  background:#f68d36; 
}

.bg-green { 
  background:#39b54a; 
} 

.badges .badge-box { background: #daf1fd; color:#fff; text-align: center; border-radius: 5px;  margin: 10px auto; }
.badges .badge-box  img { margin: 10px; } 
.badges .badge-box .dsc { background: #07395a;  border-radius:0 0 5px 5px ; padding: 10px; } 
.badges .badge-box .dsc h3 { 
  font-size: 14px;font-weight: bold;
  margin: auto;  
} 

.badges .badge-box .dsc p { font-size: 10px; margin:0; } 
.badges-list { padding: 0px 20px; height:  220px; overflow-y: auto;  overflow-x: hidden; }

.btn-grp { 
  text-align: right; margin: 10px 0; 
}

.btn-grp button { margin:10px 0;  border:none; color: #fff;  width:195px;  height:50px ; text-align: left;  vertical-align: middle; text-transform: uppercase;  line-height: 44px; font-size: 18px;  }
.btn-grp button:first-child { margin-right:20px; }
.btn-grp button img { margin-left:15px; margin-right:15px; }    
.badges-btn { background: #f68d36; }
.print-btn { background: #3098cc; }

.navbar-nav.nav-pills a.active {
  background-color:   orange;
  color: white;
}

.card-img {
width: 80%;
}


      /* -- input placeholder css  */    
      .form-control::placeholder {
        color: #666666;
        opacity: 1; /* Firefox */
      }
      .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
          color: #666666;
      }
      .form-control::-ms-input-placeholder { /* Microsoft Edge */
          color: #666666;
      }
      
      /* -- Catalog Search  */    
      .catalog-search {
          margin-bottom: 20px;
      }
      .catalog-search .box {
          padding-top: 10px;
          padding-bottom: 10px;
          padding: 0px;
          margin-top: 10px;
      }
      .catalog-search select , .catalog-search input { width:auto;  display: inline-block; border:1px solid #ddd;  }
      
      .catalog-search .fa.fa-search {
          color:     #333;
          position: absolute;
          left: 25px;
      }
      .catalog-search input.search-input { 
          padding-left: 30px;
          width: 260px;
      }
      
      .catalog-search .search-btn { background: #f90; color:#fff; width:100%;}
      
      /* -- Catalog Datatable  */    
      #catalog_wrapper { margin-bottom: 10px; }
      
      #catalog th {
          font-weight: normal;
      }
        #catalog th  {
         color:#666; 
      }
      .btn.add-btn {
          background: #003893;
          color:white;
      }
      .btn.add-btn i {
          margin: 0 5px 0  0;
      }
      #catalog, #catalog th, #catalog td {
          border: none;
      }
      
      #catalog_length select {
          display: inline-block;
          width: auto;
      }
      #catalog_filter .form-control {
          display: inline-block;
          width: auto;
          border: 1px solid 
          #ddd;
          margin-left: 10px;
      }
      table#catalog.table-striped tbody tr:nth-of-type(2n+1) {
          background-color: rgba(0,0,0,.03);
      }
      
      .btn-edit   { 
          border:none;
          background: transparent;
      }
      .btn-edit i { 
          color: #003893;
      }
      
      .sort-grp select {  border:1px solid #ddd;  }
      
      @media (min-width:767px){ 
          .catalog-search .search-btn {   width:200px;}
          .sort-grp select { width:auto; }
          .btn-grp   { text-align: right;  }
          #catalog_filter ,
          #catalog_paginate {
              float: right;
          }
      }
      
      @media (max-width:767px){
          .catalog-search .fa.fa-search { left:15px;}
          .catalog-search input.search-input {
              padding-left: 35px; 
              width: 100%;
          }
          .catalog-search select, .catalog-search input {
              width: 100%; 
          }
      }
      
      /*  carousel pagination dot round */
      
      .carousel-item {
          max-height: 200px;
        }
      
        .carousel-indicators li {
          width: 20px;
          height: 20px;
          border-top: 0;
          border-bottom: 0;
          border-radius: 10px;
        }
      
      /*  navigation active */
        .navbar-nav.nav-pills a.active {
              background-color:   orange;
              color: white;
          }





/* ====== ADD ====== */

/* ====== ADMIN ====== */

/*  ====== EDIT ====== */

/* ====== LEARNER VIEW ====== */

/* ====== LEARNER VIEW: ASSIGN ====== */
