/* ============ VIDEO PAGE ============ */

.brand-font {
  font-family: 'mission-gothic-regular';
}

div.heading-title p {
  font-size: 18px;
}

.margin-bottom-36 {
  margin-bottom: 36px;
}

.combobax > {
  font-family: "mission-gothic-regular";
}

/* ------------ VIDEO ------------ */

.video-thumbnail {
  max-width: 90%;
  padding: 0px;
  margin: 0px;
}

.video-description {
  background-color: blue;
  color: white;

}

/* DONE: The video needs to be responsive. */
.video-fluid iframe {
  max-width: 100%;
  width: 100%;
}

/* ------------ - ------------ */
.form-control:focus {
  box-shadow: none;
}

.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}
  
.form-control::placeholder {
  font-size: 0.95rem;
  color: orange;
}

/* ------------ IMAGES ------------ */
div.icon img {
  max-width: 30%;
}

/* ------------ VIEWPORTS ------------ */
@media (min-width: 1329px) {
  .margin-top-fix {
    margin-top: 36px;
  }
}

@media (max-width: 1328px) {
  .margin-top-fix {
    margin-top: 0px;
  }
}

@media (max-width: 1098px) {
  .margin-top-fix {
    margin-top: 0px;
  }
}

@media (max-width: 712px) {

  .input-group, .stylish-input-group  {
    margin-left: 0px;
  }

}

@media (max-width: 575px) {

  .margin-top-fix {
    margin-top: -36px;
  }

  .margin-neg-48 {
    margin-top: -48px;
  }

}

/* ====== ADD ====== */

/* ====== ADMIN ====== */

/*  ====== EDIT ====== */

/* ====== LEARNER VIEW ====== */

/* ====== LEARNER VIEW: ASSIGN ====== */
