/* ============ VIDEO PAGE ============ */

.brand-font {
  font-family: 'mission-gothic-regular';
}

div.heading-title p {
  font-size: 18px;
}

.margin-bottom-36 {
  margin-bottom: 36px;
}

.combobax > {
  font-family: "mission-gothic-regular";
}

/* ------------ VIDEO ------------ */

.video-thumbnail {
  max-width: 90%;
  padding: 0px;
  margin: 0px;
}

.video-description {
  background-color: blue;
  color: white;

}

/* DONE: The video needs to be responsive. */
.video-fluid iframe {
  max-width: 100%;
  width: 100%;
}

/* ------------ - ------------ */
.form-control:focus {
  box-shadow: none;
}

.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}
  
.form-control::placeholder {
  font-size: 0.95rem;
  color: orange;
}

/* ------------ IMAGES ------------ */
div.icon img {
  max-width: 30%;
}

/* ------------ VIEWPORTS ------------ */
@media (min-width: 1329px) {
  .margin-top-fix {
    margin-top: 36px;
  }
}

@media (max-width: 1328px) {
  .margin-top-fix {
    margin-top: 0px;
  }
}

@media (max-width: 1098px) {
  .margin-top-fix {
    margin-top: 0px;
  }
}

@media (max-width: 712px) {

  .input-group, .stylish-input-group  {
    margin-left: 0px;
  }

}

@media (max-width: 575px) {

  .margin-top-fix {
    margin-top: -36px;
  }

  .margin-neg-48 {
    margin-top: -48px;
  }

}

 
/* ============ VIDEOS   ============ */

/* Video Showcase */
section.videoShowcase {
  margin-top: 20px;
  background:     #0c3859;
  padding-top: 10px;
  color:#fff;
}

section.videoShowcase h2.title { 
  background-color:#f68d35; 
  background-image: url('../../assets/img/video-icon.png');
  background-position: 10px center;
  background-repeat: no-repeat;
  padding-left: 50px;
  background-size: 30px; 
  font-size:18px; 
  text-transform: uppercase;
  line-height: 40px; 
  padding-top: 0;
  padding-bottom: 0; 
  margin-bottom: 0;

}
section.videoShowcase h3 {
  font-size:32px; 
  margin-bottom: 20px;
}
section.videoShowcase p {
  font-size:20px; 
}

.video-frame { width:598px; height:332px ; border: 5px solid #d5e9f3 ; max-width: 100%;
  height: auto; }
  

  .video-frame img {
      max-width: 100%;
      height: auto;
  }

  section.videoShowcase .videoShowcase-content {
      padding: 30px;    
  }

  section.videoShowcase .videoShowcase-content .showcase-content{
      padding: 10px 50px;    
  }
  

@media (max-width: 767px) {

  section.videoShowcase  .search-box {
      margin-bottom: 10px;
  }

  section.videoShowcase .videoShowcase-content .showcase-content{
      padding: 10px 0;    
  }
  

}


aside.video-thumb-frame {
  background: #0c3859;
  border-radius: 5px;
  color: #fff;
  overflow: hidden;
  margin: 20px 0;
  cursor: pointer;
  
}  
aside.video-thumb-frame:hover h3 { text-decoration: none;}
aside.video-thumb-frame:hover .video-thumb img  { opacity:.6 ;   } 


aside.video-thumb-frame .video-thumb-content {
  padding: 10px 20px;
}



aside.video-thumb-frame .video-thumb {
  background: #fff;
}
aside.video-thumb-frame .video-thumb img {
  width: 100%;
}
aside.video-thumb-frame .video-thumb-content h3 {
  font-size: 16px;
  font-weight: bold;
}
aside.video-thumb-frame .video-thumb-content h4 { 
  font-size: 16px;
  color:#f68d35;
  font-weight: bold; 
}
aside.video-thumb-frame .video-thumb-content img.icon { 
   float: right;
}
aside.video-thumb-frame .video-thumb-content p { 
  font-size: 16px;
  font-weight: normal;
  margin: 0;
}

@media (min-width:767px){ 
  aside.video-thumb-frame .video-thumb-content div[class*='col'] {
  padding-right: 10px;
}
} 

@media (max-width:767px){ 
  aside.video-thumb-frame .video-thumb-content img.icon { 
      width: 30px;
  }
} 


/* PAGINATION SECTION */
.pagination-section {
  padding: 20px 20px 0 20px;
  border-top: 1px solid #3398cb;
}
.page-item.disabled .page-link { 
  border-color: #65b1d8;
}
.page-item.active .page-link { 
  background-color: #0c3859;
  border-color: #65b1d8;
}
@media (min-width:767px){  
  div[class*='_filter'] ,
  div[class*='paginate']   {
      float: right;
  }
}

@media (max-width:767px){  
.pagination-section { text-align: center;}
ul.pagination {
  display: block;
  margin: 10px auto 20px auto;
  width: auto;
}
ul.pagination li {
  display: inline-block;
}
}

/* ====== ADD ====== */

/* ====== ADMIN ====== */

/*  ====== EDIT ====== */

/* ====== LEARNER VIEW ====== */

/* ====== LEARNER VIEW: ASSIGN ====== */

/* ====== VIDEO DETAIL PAGE ====== */

div.detail-view-icon img {
  max-width: 80%;
  min-width: 30%;
}

.orange-bar {

}

@media (max-width: 575.98px) {
  div.img-fluid img {
    width: 47%;
  }
}

.detail-btn {
  color: white;
  background-color: #65b1d8;
  margin-top: 4px;
  width: 100%;
}

.center-parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center-vertically {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.video-detail-title-text {
  font-size: 36px;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.video-detail-badge {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 12px;
  padding-bottom: 12px;
  }

  .video-detail-text {
    font-size: 20px;
    padding: 12px;
  }

  .video-thumbnail-description {
    background-color: #65b1d8;
  }


  aside.video-thumb-frame.disabled  img {
    opacity: .4;
}

  /* video eidt / info */

  .window .video-edit,  .window   .video-info   {  margin-bottom: 10px; }
