/* windows popup */

.window {
    background: #073763; 
    color: #fff;
}

.window  img  {
  max-width: 100%;
}

/* title */

.window  h2 { background:#6fa8dc; color:#fff; font-size: 18px; line-height: 40px; padding-left: 10px; margin:0; position:relative  }
.window  h2 i.fa { margin-right: 10px;; }
.window  .btn.blue .fa { color:#fff}  


.window  h2 .close {
    position: absolute;
    right: 10px;
    top: 7px;
} 


.window   .delete { position: absolute; top:0;  right: 0; 
  border: 2px solid #9900ff;    background: #9900ff;    color: #ffffff;}


/*  select course */
.window .select-course .course-type label { display: block; }
.window .select-course .edit-use button { margin-bottom: 10px; }
.window .select-course  input[type="checkbox"] {
    display: inline-block;
    vertical-align: bottom;
}  
.window .select-course {
    margin-top: 10px;
}


  /* yellow ribbon */

  .window  .yellow-ribbon { position: relative;}

  .window  .strip {  
      background: #f68d35;
      height: 50%;
      width: 100%;
      position: absolute;
      bottom: 10%;
      top: 25%;
  }
  .window section.yellow-ribbon textarea {
    margin-top: 18%;
    margin-left: 5%;
    width: 96%;
    text-align: left;
}
.window section.yellow-ribbon h3.title {
  margin-top: 24%;
  margin-left: 5%;
  width: 96%;
  text-align: left;
  font-size: 24px;
}
.window .description {
  font-size: 18px;
}


/* video frame */

.window .video-frame {
    text-align: left;
    position: relative;
}

.window .video-frame button {  
    position: absolute;
    border: 1px solid #fff; 
    max-width: 90%;
    right: 5%;
    top: 5%;
}

.window .video-frame { border:5px solid #073763;  margin-bottom: 20px; }
.window .video-frame img { 
    width: 100%;
}
 

 /* schools list */ 
 .window  .update-schools-list  select { width:100%}
 .window  .update-schools-list   label { color:#fff; display: block; position: relative; padding-right: 50px; }      

 .window  section.update-schools-list  label {
  color: #d6ecff;
}
.window  section.update-schools-list strong {
  color: #81bff5;
}


 /* resource links list */ 
 .window  .resource-links-list  { margin-top: 20px; margin-left: 10px;}
 .window  .resource-links-list  li { color:#fff; display: block; position: relative; padding-left: 25px; margin-bottom: 15px; }
 .window  .resource-links-list .delete { left:0; right: inherit; }
 .window  .resource-links-list button { width: 300px; }
 .window  .resource-links-list ul {
  margin: 0;
  padding: 0;
}
 
.window  .resource-links-list h4 {
  font-weight: normal;
  margin-bottom: 15px;
}
.window .resource-links-list   p {
  margin: 5px 0 15px 0; 
}
 
 @media (min-width: 800px) {
    .window  .resource-links-list li { width:50%; float: left; }    
}

 /* task list */

 
 .window section.task-list {
  margin: 20px;
}

.window  section.task-list h3 {
  font-size: 18px;
  color: #fff;
  margin-bottom: 20px;
}
.window  section.task-list h3 span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
.window  section.task-list h3 span * {
  margin-bottom: 0;
}
.window  section.task-list  a { color:#00f5ce; text-decoration: underline; font-weight: bold; }
.window  section.task-list   input, .window  section.task-list   input:checked  { 
  vertical-align: middle;
  display: inline-block;
}
.window  section.task-list .detail, .window  section.task-list .points { padding: 2px 5px;} 
.window  section.task-list .detail a { color:#fff; text-decoration: none; }
.window  section.task-list ul, .window  section.task-list li {
  list-style: none;
  padding: 0;
  margin: 0;
  text-indent: -25px;
}
.window  section.task-list.view li {
  padding-left: 65px;
  position: relative;
  margin-bottom: 20px;
  list-style-type: disc;
  list-style-position: inside;
}
.window  section.task-list.view input[type="checkbox"] {
  left: 15px;
  margin-top: 5px;;
  width: 20px;
  height: 20px;  
  position: absolute;
}
.window  section.task-list li {
  padding-left: 55px;
  position: relative;
  margin-bottom: 20px;
}
.window  section.task-list .delete {
  left: 0;
  width: 20px;
  height: 20px;
}
.window  section.task-list .delete { left:0;  margin-top: 5px;}
.window  section.task-list .delete:before {
  margin-left: 26px;
  top: 0;
}
.window section.task-list li .dsc {
  display: inline-block;
  vertical-align: top;
  padding-left: 25px;
}

.window  section.task-list h3 input:after, .window  section.task-list h3 input:checked:after  {
  color: #fff;
  vertical-align: middle;
}
.window  section.task-list input[class="number"] { width:30px; margin-right: 5px;}
.window  section.task-list input[type="checkbox"]:after , .window  section.task-list input[type="checkbox"]:checked:after { display: none;}
.window  section.task-list input[type="checkbox"]:before {    
position:absolute; 
    content: "\f096";
    color:#fff; 
    border:  none;
    width: 22px;
    height: 21px;
    border-radius: 3px;

}
.window section.task-list li .dsc {
    display: inline-block;
    vertical-align: top;
    padding-left: 25px;
}

.window  section.task-list input[type="checkbox"]:checked:before { 
  border:none; color:#0c3859;  position:absolute;  z-index: 1; content: "\f14a"; color:#fff; }

@media (min-width: 768px) {
  .window  section.task-list li { width: 48%;  float: left;}
}

.window  section.task-list button {
  float: right;
  margin: 10px;
}
 
.window .add-task-form { margin-bottom: 10px; padding: 10px ;}

/* window buttons list */

.window .full { width:100%; }
@media (min-width:600px){
  .window .button-list button.half  +  button.half  { margin-left: 2%;} 
  .window .half { width:48%; }
}
@media (max-width:600px){
  .window .half { width:100%; }
}

.window .button-list button {
    position: relative; margin-bottom: 10px; }
    .window .button-list .fa {
    position: absolute;
    left: 10px;
    top: 10px;
}


 
/* select badge */

.window  .select-badge img ,
.window  .select-badge button{   display: block;
    width: 80px;
    margin: 10px auto;
} 
.window  .select-badge button { line-height: 30px ; padding: 0px;  }
.window  .select-badge img  { width:60px } 
  
.window .select-badge div:last-child {
    text-align: center;
}

.window  aside.select-badge  {
    color: #fff;
}

/* select points */


aside.select-points .points{
    background: #009e0f;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: block;
    margin: auto;
    vertical-align: middle;
    text-align: center;
    line-height: 60px;
}   
aside.select-points .points input {
    width: 40px;
    margin: auto;
    display: inline-block;
    margin-top: 10px;
    line-height: normal;
} 
.window  aside.select-points {
    color: #fff;
}
.window aside.select-points {
    margin-bottom: 10px;
} 

/* select schedules */ 

.window .select-schedules { background-color: #fff ; border:5px solid #9900ff; padding:10px; 
    margin-top: 10px;
    margin-bottom: 10px;
}
.window section.select-schedules {
    font-size: 13px;
    color:#000;
}
.window .select-schedules button {
    margin-top: 10px;
}
.window .select-schedules .scroller { height: 90px ; overflow-x:  hidden; overflow-y:  auto;}
.window .select-schedules input[type="radio"] {
    display: inline-block;
    vertical-align: middle;
}
   
/* FORM */

.window  section.form {
  padding: 10px ; 
}

@media (min-width:767px){
  .window  section.form {
      margin: 20px;
      padding: 20px;
  }

}


.window section.form input[type="checkbox"] {
  vertical-align: text-bottom;
}
.window  .ques {   }
.window  .ques h3 { font-size: 16px; margin-bottom: 20px;  }
.window  .ques h3 span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  margin: 0 10px;
}
.window .ques label  {
  margin-bottom: 0;
}
.window .ques input, .window .ques input:checked {
  vertical-align: middle;
  display: inline-block; 
}
.window .ques input:after, .window .ques input:checked:after { 
  color:#fff
}
.window  .button-list.mb { margin-bottom: 20px;   }

/* calendar */

.window .calendar-input input,
 .window .calendar-input:after { 
  border: 1px solid;
}