<!-- NAVIGATION -->

<sly data-sly-include="navigation.html" />

<nav class="navbar navbar-expand-md navbar-light no-padding justify-content-center bg-light-blue cap-nav" id="bg-blue-light-brand">

    <div class="row d-flex align-items-center">

        <div class="col-xs-1"> 
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="col-xs-10"> 
            <h2 class="navbar-text d-sm-none mission-gothic-regular">
                
<!-- * AEM Component Inserted Here ------------ ------------ --------- -->
                <div class="" data-sly-resource="${'title' @ resourceType='/apps/Acgdemo/components/content/title'}"></div>
<!-- ------------ ------------ ------------ ------------ ------------  -->

            </h2>
        </div>

        <div class="col-xs-1"> 

            <div class="input-group stylish-input-group">
                <span class="input-group-addon">
                    <button type="submit" class="button__icon d-xl-none d-lg-none d-md-none d-sm-none d-xs-block">
                        <span class="fa fa-search"></span>
                    </button>  
                </span>
            </div>
            
        </div>

    </div>

    <div class="collapse navbar-collapse justify-content-center centering2" id="navbarNav">
        <ul class="navbar-nav nav nav-pills nav-fill">
            <li class="nav-item active">
                <a class="nav-link" href="">
                    <span class="navbar-text">

<!-- * AEM Component Inserted Here ------------ ------------ ----------- -->
                        <sly data-sly-resource="${'text1' @ resourceType='/apps/Acgdemo/components/content/text'}"/>
<!-- ------------ ------------ ------------ ------------ --------------- -->
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">
                    <span class="navbar-text">

<!-- * AEM Component Inserted Here ------------ ------------ ----------- -->
                        <sly data-sly-resource="${'text2' @ resourceType='/apps/Acgdemo/components/content/text'}"/>
<!-- ------------ ------------ ------------ ------------ --------------- -->
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">
                    <span class="navbar-text">

<!-- * AEM Component Inserted Here ------------ ------------ ----------- -->
                        <sly data-sly-resource="${'text2' @ resourceType='/apps/Acgdemo/components/content/text'}"/>
<!-- ------------ ------------ ------------ ------------ --------------- -->

                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">
                    <span class="navbar-text">

<!-- * AEM Component Inserted Here ------------ ------------ ----------- -->
                        <sly data-sly-resource="${'text3' @ resourceType='/apps/Acgdemo/components/content/text'}"/>
<!-- ------------ ------------ ------------ ------------ --------------- -->

                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">
                    <span class="navbar-text">

<!-- * AEM Component Inserted Here ------------ ------------ ----------- -->
                        <sly data-sly-resource="${'text4' @ resourceType='/apps/Acgdemo/components/content/text'}"/>
<!-- ------------ ------------ ------------ ------------ --------------- -->

                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">
                    <span class="navbar-text">

<!-- * AEM Component Inserted Here ------------ ------------ ----------- -->
                        <sly data-sly-resource="${'text5' @ resourceType='/apps/Acgdemo/components/content/text'}"/>
<!-- ------------ ------------ ------------ ------------ --------------- -->

                    </span>
                </a>
            </li>
        </ul>
    </div>

</nav>