/* ------------ ------------ ------------ ------------ GLOBAL ------------ ------------ ------------ ------------ */

.body {
  font-family: "MissionGothicRegular";
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.justify-content-center {
  justify-content: center;
}

.width-100 {
  width: 100%;
}

/* ------------ ------------ BRANDING ------------ ------------ */

/* ------------ ------------ TYPOGRAPHY ------------ ------------ */

/*
@font-face {
  font-family: 'mission-gothic-regular';
  src: url('../fonts/mission-gothic-regular.otf');
  src: url('../fonts/mission-gothic-regular.eot');
}
*/

@font-face {
  font-family: 'mission-gothic-regular';
  src: url('../fonts/mission-gothic-regular.eot?iefix') format('embedded-opentype'),
       url('/apps/Acgdemo/clientlibs/clientlib-own/resources/fonts/mission-gothic-regular.woff') format('woff'),
       url('/apps/Acgdemo/clientlibs/clientlib-own/resources/fonts/mission-gothic-regular.ttf') format('truetype'),
       url('../fonts/mission-gothic-regular.svg#svg-mission-gothic-regular') format('svg');
}
/*
@font-face {
  font-family: 'mission-gothic-regular-italic';
  src: url('../fonts/mission-gothic-regular-italic.otf');
  src: url('../fonts/mission-gothic-regular-italic.eot');
}

@font-face {
  font-family: 'mission-gothic-thin';
  src: url('../fonts/mission-gothic-thin.otf');
  src: url('../fonts/mission-gothic-thin.eot');
}

@font-face {
  font-family: 'mission-gothic-thin-italic';
  src: url('../fonts/mission-gothic-thin-italic.otf');
  src: url('../fonts/mission-gothic-thin-italic.eot');
}

@font-face {
  font-family: 'mission-gothic-light';
  src: url('../fonts/mission-gothic-light.otf');
  src: url('../fonts/mission-gothic-light.eot');
}

@font-face {
  font-family: 'mission-gothic-light-italic';
  src: url('../fonts/mission-gothic-light-italic.otf');
  src: url('../fonts/mission-gothic-light-italic.eot');
}

@font-face {
  font-family: 'mission-gothic-bold';
  src: url('../fonts/mission-gothic-bold.otf');
  src: url('../fonts/mission-gothic-bold.eot');
}

@font-face {
  font-family: 'mission-gothic-bold-italic';
  src: url('../fonts/mission-gothic-bold-italic.otf');
  src: url('../fonts/mission-gothic-bold-italic.eot');
}

@font-face {
  font-family: 'mission-gothic-black';
  src: url('../fonts/mission-gothic-black.otf');
  src: url('../fonts/mission-gothic-black.eot');
}

@font-face {
  font-family: 'mission-gothic-black-italic';
  src: url('../fonts/mission-gothic-black-italic.otf');
  src: url('../fonts/mission-gothic-black-italic.eot');
}
*/

.mission-gothic-regular {
  font-family: "mission-gothic-regular";
}

/* ------------ ------------ ALIGNMENT ------------ ------------ */

.display-inline {
  display: inline;
}

/* ------ Alignment: Vertical ------ */

.align-vertically {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar-nav > li {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#bg-blue-dark-brand {
  background-color: #003893;
  color: #fff;
}

.bg-aaa-blue {
  background: #003893;
  color: #fff;
}

.bg-light-blue {
  background-color: #3399CA;
  color: #fff;
}

.bg-white {
  background-color: #fff;
}


/* ------------ ------------ ------------ ------------ HEADER ------------ ------------ ------------ ------------ */

.header {
  background: #5c9ad4;
}

.max-height-controller {
  max-height: 150px;
}

.top-header {
  max-height: 150px;
}

.logo img {
  height: auto;
  padding: 7%;
}

/* ------------ ------------ LOGO ------------ ------------ */

.cap-header div.img-fluid img {
  max-width: 100%;
  width: 100%;
}

/*
#acg-logo img {
  max-width: 36%;
}
*/

/* ------------ ------------ TITLE ------------ ------------ */

.title-column {
  /*
  min-width: 200px;
  */
}

.cap-header p,
.footer p,
.navbar-text p {
  margin: 0;
  font-family: 'mission-gothic-regular';
}

.navbar-light .navbar-text {
  color: #fff;
  font-family: 'mission-gothic-regular';
}


/* ------------ ------------ SEARCH BAR ------------ ------------ */

.stylish-input-group .input-group-addon {
  background-color: #0F2E5B;
}

.stylish-input-group .form-control {
  border-right: 0; 
  box-shadow: 0 0 0; 
  border-color: #ccc;
  background-color: #0F2E5B;
  font-family: 'mission-gothic-regular';
}

.stylish-input-group button {
  border: 0;
  background: transparent;
}

.form-control {
  border: 0;
}

.form-control::placeholder {
  color: white;
}

.fa, .fas, .fa-search {
  color: white;
  margin-top: 10px;
}

/* ------------ ------------ PROFILE ------------ ------------ */

.profile-pic {
  padding: 5px;
}

.text-username {
  font-size: 1.75em;
  color: orange;
  font-family: 'mission-gothic-regular';
}



#margin-right-neg-60 {
  margin-right: -60px;
}

/* ------------ ------------ ------------ ------------ NAVIGATION ------------ ------------ ------------ ------------ */

.nav-link :hover {
  background-color: orange;
  color: white;
  border-radius: .25rem !important;

}

.nav-link :active {
  background-color: orange;
  color: white;
  border-radius: .25rem 1important;
}

a:selected {
  background-color: orange;
  color: white;
}

.navbar a {
  font-size: .75em;
  color: #fff !important;
  text-align: center;
  font-family: 'mission-gothic-regular';
  text-decoration: none !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
  font-family: 'mission-gothic-regular';
  padding-left: 0px;
  padding-right: 0px;

}

.navbar-light .navbar-nav .active > .nav-link {
  color: #fff !important;
  font-family: 'mission-gothic-regular';

}

.navbar-text p {
  padding-top: 0;
  padding-bottom: 0;
  font-family: 'mission-gothic-regular';
}

span.navbar-text {
  padding-top: 0;
  padding-bottom: 0;
}

.nav-link  a{
    display: block;
    padding: .5rem 1rem;
    color: #fff !important;
    text-decoration: none !important;
    border-radius: .25rem !important;
}



/* ------------ ------------ ------------ ------------ CONTENT ------------ ------------ ------------ ------------ */

.content {
  background: #a6c1da;
  padding: 24px;
}


/* ------------ ------------ ------------ ------------ FOOTER ------------ ------------ ------------ ------------ */

.footer {
  background-color: #003893;
  color: #fff;
}

.footer-text {
  font-size: 12px;
  font-family: 'mission-gothic-regular';
}

a .nav-item {
  font-size: 0.75em;
  color: #fff;
  text-align: center;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.cap-footer div.img-fluid img {
  max-width: 100%;
}

.footer div.img-fluid img {
  max-width: 100%;
  height: auto;
}

.footer-header {
  border-bottom: 2px solid #5c9ad4;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

p.margin-bottom-10 {
  margin-bottom: 10px;
}

.nav-item a{
  text-decoration: none !important;
  color: #fff;
}


.nav-item :active {
  background-color: orange;
  color:  #fff ;
}

.nav-item :hover {
  background-color: orange;
  color: #fff;
}




/* ------------ ------------ ------------ ------------ VIEWPORTS ------------ ------------ ------------ ------------ */

@media (max-width: 712px) {

  .input-group, .stylish-input-group {
    margin-left: -50px;
  }

  .text-username {
    font-size: 1.25rem;
  }

}

@media (max-width: 654px) {
  .title-column {
    min-width: 0;
  }
}

@media (max-width: 645px) {

/* Header */

/* Header: Logo */

/* Header: Title */

  .h2, .navbar-text {
    font-size: 1.5em;
    display: block;
  }

/* Header: Search Bar */

  .input-group .stylish-input-group {
    margin-left: -36px;
  }

/* Header: Profile */

}

@media (max-width: 575.98px) {
  
  .margin-auto {
    margin: auto;
  }

/* Header */

  .max-height-controller {
    max-height: 350px;
  }

/* Header: Logo */

  .logo {
    width: 40%;
    height: 40%;
  }

/* Header: Title */

  .h2, .navbar-text {
    font-size: 1.25em;
    text-align: center;
    display: block;
  }

  .profile-pic {
    margin: 0;
    width: 40%;
   /* height: 50%; */
  }

/* Header: Search Bar */

/* Header: Profile */

  .margin-right-none {
    margin-right: 0;
  }

  .footer-header {
    padding-top: 40px;
  }

  .button__icon {
      background: transparent;
      border: 0;
    }

  .text-username {
    font-size: 1.15em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .stylish-input-group .input-group-addon {
    background-color: transparent;
    margin-left: 50px;
  }

  .fa, .fa-search {
    font-size: 1.25em;
    margin-left: 10px;
  }

  .navbar-text {
    margin: 0;
  }

/* NAVIGATION */

  .navbar-toggler {
    margin-right: 10px;
  }

