<div class="container-fluid content no-padding cap-content">
    <div class="row">
        <div class="col-sm-2 text-center">
           <img  src="/apps/Acgdemo/clientlibs/clientlib-own/resources/flags/profile-image.png" alt="your image" style ="width:90%"/>
        </div>
        <div class="col-sm-10" style="background-color:#fff">


            <div class="row newsfeed bg-light-blue">
                <div class="col-sm-12">
                    <h5 class="mission-gothic-regular">
                        <img src="/apps/Acgdemo/clientlibs/clientlib-own/resources/flags/news-icon.png" />
                        <span>News Feed</span>
                    </h5>
                </div>
            </div>

            <div  id="newsfeed" class="fixed-h-box-150">
            </div>

        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>

<script> 
$(document).ready(function(){
$.ajax({ 
		url: "/bin/newsFeed.json",
        success: function(data){
        	var htmlContent = "";
			jQuery.each( data, function( i, val ) {
				htmlContent +=" <div class='row news-item'><div class='col-sm-1'> <div class='newsfeed-date'><div>3</div><div>NOV</div></div></div><div class='col-sm-11'> <h6>"+val.title+"</h6><p>"+val.description+"<a href='#'>more</a></p></div> </div>";


            });
        	$('#newsfeed').html(htmlContent );

        }});
});
</script>
<style>
    .newsfeed{
        padding-top: 5px;
    }
    .fixed-h-box-150{
        max-height:120px;
        overflow:scroll;
    }
    .news-item.row{
        padding-top:10px;
        line-height: 1.2em;
        font-size: .9em;
    }
    .news-item.row p{
        margin-bottom:5px;
    }
    .news-item.row a{
        color:orange;
    }
    .news-item .newsfeed-date{
        font-size: .7em;
        text-align: center;
        background-color: #0f4063;
        border-radius: 20px;
        line-height: 1.1em;
        padding: 8px 0px;
        width: 40px;
        height: 40px;
        color: #FFF;
    }
    .news-item h6{
        font-weight: bold;
        color: #6284c2;
        margin-bottom: 3px;
        font-size: 1em;
    }
</style>
